.game-config-form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #9adeb7;
    border-radius: 25px;
}
