@keyframes spinWheel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    grid-column: 1 / 13;
    background-color: #9adeb7;
    border-radius: 25px;
    color: #24342b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.roulette-wheel {
    width: 3rem;
    animation: spinWheel 5s linear infinite;
}
