body{
  background: linear-gradient(to top, #5f8971 0%, #57a65d 100%);
}

#root {
  text-align: center;
}

.game-config-form{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: auto;
  margin-right: auto;
}


